.projectss {
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding-block: 150px;

  @media screen and (max-width: 1024px) {
    padding-block: 100px;
  }
  @media screen and (max-width: 768px) {
    padding-block: 15px;
  }
}
