.project {
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f9f9f9;
  flex-direction: row-reverse;
  // width: 880px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .project_img {
    width: 490px;
    height: 360px;
    overflow: hidden;
    border-radius: 8px;
  }

  .link {
    width: 140px;
  }
}

.project:nth-child(even) {
  flex-direction: row;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
