.content {
  padding-block: 50px;
  background-color: #21242d;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;

  .header_info {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    &:hover {
      color: #7e3cc0;
      cursor: pointer;
    }
  }
}
