.footer {
  color: white;
  background-color: #21242d;
  flex-shrink: 0;

  .content {
    width: 1440px;
    margin-inline: auto;
    padding-block: 50px;

    @media screen and (max-width: 1200px) {
      width: 600px;
    }

    .opacity {
      opacity: 50%;
    }
  }
}
